%adminbtn {
    @extend %primarybtn;
    padding: 15px;
}

.admin-textbox:focus,
.admin-textbox {
    @extend %textbox;
}

.admin {
    @include content-indent(15px);

    .btn-admin-lg {
        @extend %adminbtn;
    }

    .btn-admin-danger {
        @extend %adminbtn;
        background-color: #d9534f;
        border-color: #d9534f;
    }

    .btn-danger {
        @extend %primarybtn;
        background-color: #d9534f;
        border-color: #d9534f;
    }

    .table {
        th {
            font-size: 18px;
            font-weight: normal;
            text-transform: uppercase;
            border: none;
        }
    }

    input[type="password"]:focus,
    input[type="text"]:focus,
    input[type="password"],
    input[type="text"] {
        @extend %textbox;
        height: 52px;
    }

    textarea:focus,
    textarea {
        @extend %textbox;
        height: 80px;
    }

    .table-details {
        td {
            font-size: 16px;
            border: none;
        }
    }

    .validation-summary-errors {
        ul {
            list-style-type: none;
            padding: 0;
            li {
                color: red;
            }
        }
    }
}
