$container-width: 990px;
$footer-height: 142px;

$videa-font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

$videa-color: #62AFBA;
$videa-font-color: #51545D;
$action-color: #682566;
$videa-orange: #F58220;
$videa-error: #C5203E;

$content-color: #ffffff;
$content-override-color: #F58220;

$table-header-color: #51545D;
$table-nested-header-color: #CEE5EB;
$table-hover-color: #ECF5F8;
$table-border-color: #D8E0E3;
$table-header-unsorted-color: #888888;
$table-back-color: #EDF1F4;
$table-second-tier-color: #E3F1F4;
$table-second-tier-border-color: #D8E0E3;

$buyer-sm-5: 690px;
$buyer-sm-5-triangle-placement: 675px;
$buyer-sm-3: 495px;
$buyer-sm-2: 255px;
$buyer-sm-2-triangle-placement: 268px;
$buyer-sm-1: 142px;
$buyer-sm-1-triangle-placement: 142px;
$buyer-sm-half: 82px;
$buyer-sm-half-triangle-placement: 82px;

$footnote-star-color: #FF8400;
$footnote-text-color: #98999B;
