@import "_variables.scss";

.preference-box{
    height: 45px;
    width: 232px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active {
    background-color: $action-color;
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
}

a {
    &.btn-primary,
    &.btn-primary:hover,
    &.btn-primary:active {
        padding-top: 10px;
    }
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active {
    background-color: $videa-orange;
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    height: 40px;
}

.buyer-field-validation {
    background-color: $videa-error;
    color: #ffffff;
    font-size: 13px;
    clear: both;
    overflow: auto;

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    ul {
        list-style-type: none;
        margin-top: -10px;
        margin-left: -20px;

        li {
            margin-left: -15px;
        }
    }
}

.buyer-field-error {
    border: 2px solid red;
}